@media screen and (min-width: 0) {
    .corpo {
        padding: 0 1rem;
        justify-content: center;
    }
}
@media screen and (min-width: 768px) {
    .corpo {
        padding: 0 5rem;
        justify-content: space-between;
    }
}

.photo {
    left: auto;
    top: 300px;
    width: 500px;
    height: 500px;
}